.data-container {
    -fx-spacing: 15;
    -fx-pref-height: 300;
}

.column-container {
    -fx-spacing: 8;
}

/* Tabela Base */
.modern-table {
    -fx-background-color: white;
    -fx-background-radius: 4;
    -fx-border-color: #bdc3c7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 1);
}

.modern-table .column-header-background {
    -fx-background-color: #2c3e50;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #2c3e50;
}

.modern-table .column-header {
    -fx-background-color: transparent;
    -fx-padding: 12;
}

/* Texto do cabeçalho */
.modern-table .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Células induviduais */
.modern-table .table-cell {
    -fx-alignment: center-left;
    -fx-padding: 8 10;
    -fx-border-color: transparent #ecf0f1 #bdc3c7 transparent;
    -fx-border-width: 0 1 1 0;
}

.modern-table .table-row-cell {
    -fx-background-color: white;
}


.modern-table .table-row-cell:odd {
    -fx-background-color: #ecf0f1;
}


.modern-table .table-row-cell:hover {
    -fx-background-color: #d6eaf8;
}

/* Código binario */
.output-area {
    -fx-font-family: "Monospaced";
    -fx-font-size: 14px;
    -fx-background-radius: 4;
    -fx-background-color: white;
    -fx-border-color: #bdc3c7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 1);
}